* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.item {
  background-color: azure;
  border-bottom: 1px solid grey; 
  padding: 10px;
}

.complete {
  text-decoration: line-through;
}

a {color: #FFF};